{% extends 'base.html.twig' %}

{% block title %}GameUser index{% endblock %}

{% block body %}
    <h1>GameUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsFav</th>
                <th>AddedAt</th>
                <th>UpdatedAt</th>
                <th>Playtime</th>
                <th>Status</th>
                <th>Rate</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_user in game_users %}
            <tr>
                <td>{{ game_user.id }}</td>
                <td>{{ game_user.isFav ? 'Yes' : 'No' }}</td>
                <td>{{ game_user.addedAt ? game_user.addedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game_user.updatedAt ? game_user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game_user.playtime }}</td>
                <td>{{ game_user.status }}</td>
                <td>{{ game_user.rate }}</td>
                <td>{{ game_user.comments }}</td>
                <td>
                    <a href="{{ path('app_game_user_show', {'id': game_user.id}) }}">show</a>
                    <a href="{{ path('app_game_user_edit', {'id': game_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_user_new') }}">Create new</a>
{% endblock %}
