{% extends 'base.html.twig' %}

{% block title %}Hello GameDetailsController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/GameDetail.css') }}">
{% endblock %}
{% block body %}
	<div class="w-full content">

        <div class="w-full mt-72 screenContainer">
        	<h2 class="title">{{ game.title }}</h2>
            {% for screenshot in game.screenshots %}
            <div class="h-28">
                <img class="h-28"src="{{ screenshot }}" alt="screen"onclick="showModal('{{ screenshot }}')"/>
            </div>
            {% endfor%}
            <p class="text-black">text test blablabla</p>
        </div>
		<div id="modal" class="hidden">

        <!-- The close button -->
        {# <a class="z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a> #}

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="object-cover" />
    	</div>
    </div>
	
    <style>
        .content{
            background-image: url({{ game.backgroundImage }});
            
        }
		
    </style>

	

{% endblock %}
{% block javascripts %}
           
        {% block importmap %}{{ importmap('app') }}{% endblock %}  
		<script src="{{ asset ('js/gameDetails.js') }}"></script>  
    {% endblock %}
